@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

html, body {
    background: #fff;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    text-transform: uppercase;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-color: #38B6FF;
    background-image: linear-gradient(to right, #38B6FF 30%, #5CE1E6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}   

.fa-logo {
    margin-right: 0.5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-links:hover {
    color: #38B6FF;
    transition: all 0.25s ease-in;
}

@media (max-width: 900px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar-menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        padding: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */

#main {
    background-color: #141414;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content h1 {
    font-size: 5rem;
    background-color: #38B6FF;
    background-image: linear-gradient(to right, #38B6FF 30%, #5CE1E6 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content h2 {
    font-size: 2.5rem;
    background-color: #38B6FF;
    background-image: linear-gradient(to right, #38B6FF 30%, #5CE1E6 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content p {
    font-size: 1.5rem;
    margin-top: .5rem;
    background-color: #fff;
    background-image: linear-gradient(to right, rgb(221, 221, 221) 30%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content h5 {
    font-size: 1.25rem;
    margin-top: .5rem;
    background-color: #38B6FF;
    background-image: linear-gradient(to right, #38B6FF 30%, #5CE1E6 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 80%;
    width: 100%;
}

@media (max-width: 900px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        margin-top: 1rem;
    }
}

@media (max-width: 428px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .main-content h2 {
        font-size: 1.75rem;
        margin-top: 1rem;
    }

    .main-content p {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .main-content h5 {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

/* Services */

#services {
    background: #141414;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#services h2 {
    background-color: #38B6FF;
    background-image: linear-gradient(to right, #38B6FF 0%, #5CE1E6 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(top bottom, rgba(0,0,0,0) 0%,
     rgba(17, 17, 17, 0.6) 100%), 
     url('/root/images/discordbot.png');
     background-size: cover;
     position: relative;
}